configuration {
    modi: "window,drun,run,ssh";
    font: "Hack 12";
    show-icons: true;
    drun-icon-theme: "Papirus";
    levenshtein-sort: true;
    hide-scrollbar: true;
    click-to-exit: true;
    eh: 1;
    line-margin: 50;
    lines: 10;
    columns: 2;
    width: 600;
    padding: 100;
}

@import "$HOME/.config/rofi/colors-rofi-dark.rasi"
