configuration {
    modi: "window,drun,run,ssh";
    font: "Hack 12";
    show-icons: true;
    theme: "~/.cache/wal/colors-rofi-dark";
    drun-icon-theme: "Papirus";
    levenshtein-sort: true;
    hide-scrollbar: true;
    click-to-exit: true;
    eh: 1;
    line-margin: 50;
    lines: 12;
    columns: 2;
    width: 700;
    padding: 600;
}
